# The following enables several GHC versions to be tested; often it's enough to
# test only against the last release in a major GHC version. Feel free to omit
# lines listings versions you don't need/want testing for.
env:
 - GHCVER=7.0.1
 - GHCVER=7.0.2
 - GHCVER=7.0.3
 - GHCVER=7.0.4
 - GHCVER=7.2.1
 - GHCVER=7.2.2
 - GHCVER=7.4.1
 - GHCVER=7.4.2
 - GHCVER=7.6.1
 - GHCVER=7.6.2
 - GHCVER=7.6.3
 - GHCVER=head

matrix:
  allow_failures:
   - env: GHCVER=head


# Note: the distinction between `before_install` and `install` is not important.
before_install:
 - sudo add-apt-repository -y ppa:hvr/ghc
 - sudo apt-get update
 - sudo apt-get install cabal-install-1.18 ghc-$GHCVER
 - export PATH=/opt/ghc/$GHCVER/bin:$PATH

install:
 - cabal-1.18 update
 - cabal-1.18 install --only-dependencies
 - ghc --version

# Here starts the actual work to be performed for the package under test; any
# command which exits with a non-zero exit code causes the build to fail.
#

# There's 3 packages in the repository so we need to build them
# all. Both packages for cereal and binary instances will use fixed-vector from hackage
script:
 # fixed-vector itself
 - cd fixed-vector
 - cabal-1.18 configure --enable-tests -v2  # -v2 provides useful information for debugging
 - cabal-1.18 build
 - cabal-1.18 test
 - cabal-1.18 sdist
 - export SRC_TGZ=$(cabal-1.18 info . | awk '{print $2 ".tar.gz";exit}') ;
   cd dist/;
   if [ -f "$SRC_TGZ" ]; then
      cabal-1.18 install "$SRC_TGZ";
   else
      echo "expected '$SRC_TGZ' not found";
      exit 1;
   fi
 - cd ..
 # fixed-vector-cereal itself
 - cd fixed-vector-cereal
 - cabal-1.18 configure --enable-tests -v2  # -v2 provides useful information for debugging
 - cabal-1.18 build
 - cabal-1.18 test
 - cabal-1.18 sdist
 - export SRC_TGZ=$(cabal-1.18 info . | awk '{print $2 ".tar.gz";exit}') ;
   cd dist/;
   if [ -f "$SRC_TGZ" ]; then
      cabal-1.18 install "$SRC_TGZ";
   else
      echo "expected '$SRC_TGZ' not found";
      exit 1;
   fi
 - cd ..
 # fixed-vector-binary itself
 - cd fixed-vector-binary
 - cabal-1.18 configure --enable-tests -v2  # -v2 provides useful information for debugging
 - cabal-1.18 build
 - cabal-1.18 test
 - cabal-1.18 sdist
 - export SRC_TGZ=$(cabal-1.18 info . | awk '{print $2 ".tar.gz";exit}') ;
   cd dist/;
   if [ -f "$SRC_TGZ" ]; then
      cabal-1.18 install "$SRC_TGZ";
   else
      echo "expected '$SRC_TGZ' not found";
      exit 1;
   fi
 - cd ..
