name: CI

# Trigger the workflow on push or pull request, but only for the master branch
on:
  pull_request:
  push:
    branches: [master]

defaults:
  run:
    shell: bash

# Cancel running actions when a new action on the same PR is started
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cabal:
    name: ${{ matrix.os }} / ghc ${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          # Linux
          - { cabal: "3.16", os: ubuntu-latest,  ghc: "9.2.8"  }
          - { cabal: "3.16", os: ubuntu-latest,  ghc: "9.4.8"  }
          - { cabal: "3.16", os: ubuntu-latest,  ghc: "9.6.7"  }
          - { cabal: "3.16", os: ubuntu-latest,  ghc: "9.8.4"  }
          - { cabal: "3.16", os: ubuntu-latest,  ghc: "9.10.2" }
          - { cabal: "3.16", os: ubuntu-latest,  ghc: "9.12.2" }
          - { cabal: "3.16", os: ubuntu-latest,  ghc: "9.14.1" }
      fail-fast: false

    steps:
    # ----------------
    - name: "Dummy"
      run: |
        echo M1 ${{ matrix.ghc }}
        echo M2 ${{ matrix.skip-bench }}
    # ----------------
    - uses: actions/checkout@v4
    # ----------------
    - uses: haskell-actions/setup@v2
      id: setup-haskell-cabal
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}
    # ----------------
    - uses: actions/cache@v3
      name: Cache ~/.cabal/store
      with:
        path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ matrix.ghc }}--${{ github.Shah }}
    # ----------------
    - name: Versions
      run: |
        cabal -V
        ghc -V
    # ----------------
    - name: Make sdist
      run: |
        mkdir sdist
        for nm in fixed-vector*; do cabal sdist $nm -o sdist; done
    - name: Unpack
      # NOTE: For time being aeson is not buildable with GHC9.14.
      #       See: https://github.com/haskell/aeson/issues/1155
      # NOTE: same for cborg
      #       See: https://github.com/well-typed/cborg/issues/373
      run: |
        set -x
        mkdir unpacked
        for nm in sdist/*; do tar -C unpacked -xf $nm; done
        cd unpacked
        echo "packages:      */*.cabal" >  cabal.project
        echo "tests:         true"      >> cabal.project
        if [ "${{ matrix.ghc }}" == 9.14.1 ]; then
          echo "allow-newer: *:*" >> cabal.project
        fi
        cat cabal.project
    # ----------------
    - name: cabal check
      run: |
        for nm in fixed-vector-*; do (cd $nm; cabal check); done
      working-directory: ./unpacked
    # ----------------
    - name: Build
      run: |
        set -x
        if [ "${{ matrix.skip-test  }}" == "" ]; then FLAG_TEST=--enable-test; fi
        if [ "${{ matrix.skip-bench }}" == "" ]; then FLAG_BENCH=--enable-benchmarks; fi
        cabal configure $FLAG_TEST $FLAG_BENCH
        cabal build all --write-ghc-environment-files=always
      working-directory: ./unpacked
    # ----------------
    - name: Test
      run: |
        cabal test all
      working-directory: ./unpacked
